<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Welcome to Tweeter</title>
</head>
<body>
    <h1>Welcome to Tweeter: <%= userinfo.firstName %> <%= userinfo.lastName %></h1>
    <div class="container">
        <a href="/tweet">Back</a>
        <div class="login-box">
            <h1>Add a Tweet</h1>
            <form class="form" action="/update-Tweet/<%= tweet._id %>" method="post">
                <p class="err-mas"><%= errorsObj.error %></p>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" value="<%= tweet.title %>">
                <label for="content">Content:</label>
                <textarea id="content" name="content"><%= tweet.content %></textarea>

                <button class="button">Update</button>
            </form>
        </div>
    </div>
</body>
</html>